/** Pricing table */
.wp-block-columns.pricing-table .wp-block-column {
    border: 1px solid #000000;
    margin-left: 0;
    padding-bottom: 40px;
}

.wp-block-columns.pricing-table .wp-block-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;


}

.wp-block-columns.pricing-table .wp-block-column ul li {
    border-bottom: 1px solid #000000;
    margin: 20px;


}

.wp-block-columns.pricing-table .wp-block-column:nth-child(2) ul li {
    border-color: white;
}

/** Contact Card **/ 
.wp-block-group.contact-card {
    border: 1px solid #666666;
}

.wp-block-group.contact-card p {
    padding: 0;
    margin: 0;
    border-bottom: 1px dotted #999999;
}

/** Masthead  **/

.wp-block-group.lil-masthead {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    font-family: Garamond,serif !important;
}
.wp-block-group.lil-masthead h1 {
    font-family: Garamond, serif !important;
}
